
/*Sobre nós*/
.sobre {
    background-color: var(--secundary-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    max-width: 1200px;
    margin-left:14vw;
    max-width: 64vw;
}

.sobre-texto {
    text-align: justify;
}

.sobre-texto h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: var(--primary-color);
    text-align: center;
    font-weight: bold;
}

.sobre-texto p {
    font-size: 1.2em;
    line-height: 1.8em;
    margin-bottom: 20px;
    color: var(--button-registrar);
}

.sobre-texto strong {
    color: var(--primary-color);
}
.carousel {
    margin: 0 14vw;
    padding: 20px 0;
    max-width: 64vw;
    min-height: 60vh;
    max-height: 60vh;
    overflow: hidden;
    display: flex;
    position: relative;
}

.card {
    width: 80vh;
    color: white;
    border-radius: 24px;
    padding: 20px;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
}

.carousel {

    > * {
      flex: 0 0 100%;
    }
  }

.group {
    display: flex;
    gap: 20px;
    padding-right: 20px;
}

.group {
    will-change: transform;
    animation: scrolling 14s linear infinite;

}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.carousel {
    &:hover .group {
        animation-play-state: paused;
    }
}